# User define
*.swp
.DS_Store
Makefile
build/
build-Gui-Desktop_x86_darwin_generic_mach_o_64bit-Debug/
CmakeLists.txt.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
